name: example

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          ref: example
      - uses: wl2k/apk-action@main
        with:
          keystore: ${{ secrets.KEYSTORE }}
          keystore-password: ${{ secrets.KEYSTORE_PASSWORD }}
          key-alias: ${{ secrets.KEY_ALIAS }}
          key-password: ${{ secrets.KEY_PASSWORD }}
          release: true

      - uses: actions/upload-artifact@v5
        with:
          name: apk
          path: app/build/outputs/apk/**/*.apk
